*{
    font-family:"Comic Sans MS", cursive, sans-serif;
}
body{
    background-image: linear-gradient(to bottom right, lightblue, navy, lightblue);
}
.navbar{
    background-color:#E0F4FF;
    border:1px solid navy;
    border-radius: 0%;
}
.navbar-brand{
    height: 80px;
    margin-top: -15px;
    padding-top: 10px;
    text-decoration: none;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
.navbar-brand a h1{
    font-weight: bold;
    color: navy; 
}
.navbar-header {
    margin-left: 0px;
}

.navbar-default .navbar-nav>li>a{
    color:rgb(65, 57, 57);
}
li hr{
 border-color:navy;
 margin-top:5px;
 margin-bottom: 5px;
 width: 100%;
}
.nav li a{
    font-size: 1.4em;
    padding: 10px;
    color: black;
    font-weight: bold;
 
}
div h2{
    width:100%;
}
#our-menu{
    margin-bottom: 80px;
    font-size: 3em;
    font-weight: bold;
    color: black;
    text-shadow:1px 1px 2px navy;
}
#chicken-tile, #beef-tile, #sushi-tile{
    width: 100%;
    padding: 20px;
    background-color:rgb(224, 244, 255);
    margin-bottom: 60px;
    box-shadow: 5px 5px 20px navy;
}
.navbar-default .navbar-nav>li>a:hover{
    color:navy;
    text-shadow:1px 1px 2px grey;
}
section>h3{
    font-weight: bold;
    font-size: 1.8em;
    text-shadow:1px 1px 2px grey;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 2px solid navy;
}
.navbar-header button.navbar-toggle{
    align-self: center;
}
@media (min-width: 1200px) {
}
  
  /********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    /* Header */
    /* End Home Page */
}
  
  /********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
/* .navbar>.container a h1{
    margin-left: -20px;
} */
}
  
  /********** Extra small devices only **********/
@media (max-width: 767px) {
    .navbar-default .navbar-collapse {
        border-color: navy;
    } 
}